<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-5p] %d %c - %m%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="org.springframework.beans" level="debug" />
		<logger name="org.springframework.*" level="debug" />
		<Root level="error">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>

</Configuration>
